*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: #fff;

}

.brand-logo{
  margin-left: .5em;
  font-weight: bold;
}

body{
  margin: 0;
  padding: 0;
}

.login{
  font-size: 1em;
}

.login a{
  color: #fff;
  padding: 1rem;
}

.login a:hover{
  background: #555;
}

.navbar{
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
}

.navbar-links li:hover{
  background: #555;
}

.navbar-links li a{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none ;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .toggle-button{
    display: flex;
  }

  .navbar-links{
    width: 100%;
    display: none;
  }

  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul{
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li{
    text-align: center;
  }

  .navbar-links li a{
    padding: 0.5em 1em;
  }

  .navbar-links.active{
    display: flex;
  }
}

#logo{
  width: 100%;
  display: block;
}

#landing-page-img{
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  object-fit: contain;
  height: 100vh;
}

#login-glyph img{
  position: relative;
  top: 8px;
}

.main-container{
  padding: 2em;
  margin: auto;
  width: 90%;
  text-align: center;
}

.main-container h1{
  margin-bottom: 2em;
}

.main-container input[type="button"], .main-container input[type="submit"]{
  width: 40%;
  background: #60a1dd;
  color: #f2f2f2;
  border-radius: 25px;
  border-style: hidden;
  margin-bottom: 1em;
  padding: 1em 0;
}

.main-container input[type="button"]:hover, .main-container input[type="submit"]:hover{
  background: #81c3ff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .main-container h1{
    font-size: 1.5em;
  }

  .login{
    font-size: 0.7em;
  }

  .main-container input[type="button"]{
    width: 100%;
  }
}

.main-container input[type="text"],
.main-container input[type="password"]{
  /* font-style: italic; */
  text-align: center;
}

.user-profile-link{
  display: inline-block;
}

.logout{
  display: inline-block;
}

.logout-button{
  background-color: #333;
  border-color: #333;
  border-style: none;
  padding: 1rem;
  font-size: 1em;
  color: #fff;
  margin-left: 1em;
}

.logout-button:hover{
  background: #555;
}

.error-message{
  margin: 0 auto;
  margin-bottom: 3em;
  border-radius: 5px;
  color: #fff;
  font-size: .7em;
  width: 40%;
  padding: .5em;
  background: #f45;
}

.success-message{
  margin: 0 auto;
  margin-bottom: 3em;
  border-radius: 5px;
  color: #fff;
  font-size: .7em;
  width: 40%;
  padding: .5em;
  background: #0f4;
}


.blog-post{
  text-align: left;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 2em;
}

@media (min-width: 992px) {
  .blog-post{
    width: 70%;
  }
}

#tell-story-container{
  max-width: 900px;
  margin: 0 auto;
}

#article-title{
  max-width: 400px;
}

#sign-up-form input, #login-form input, #article-title, #article-content{
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
}

#article-title, #article-content{
  display: block;
}

#sign-up-form input, #login-form input{
  margin-bottom: .2em;
}

#clear-all-btn, #submit-post-btn, #save-article-btn, #publish-article-btn{
  display: block;
  width: 100%;
  margin: 1em auto;
}

@media (min-width: 600px) {
  #clear-all-btn, #submit-post-btn, #save-article-btn, #publish-article-btn{
    display: inline;
    max-width: 200px;
    margin: 0 .5em;
  }
}

#article-preview{
  text-align: left;
  margin-top: 6em;
}
