*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: #fff;

}

.brand-logo{
  margin-left: .5em;
  font-weight: bold;
}

body{
  margin: 0;
  padding: 0;
}

.login{
  font-size: 1em;
}

.login a{
  color: #fff;
}

.login a:hover{
  color: #81c3ff;
}

.navbar{
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
}

.navbar-links li:hover{
  background: #555;
}

.navbar-links li a{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none ;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 10px;
}

@media (max-width: 550px) {

  .toggle-button{
    display: flex;
  }

  .navbar-links{
    width: 100%;
    display: none;
  }

  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul{
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li{
    text-align: center;
  }

  .navbar-links li a{
    padding: 0.5em 1em;
  }

  .navbar-links.active{
    display: flex;
  }
}

#logo{
  width: 100%;
  display: block;
}

#landing-page-img{
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  object-fit: contain;
  height: 100vh;
}

#login-glyph img{
  position: relative;
  top: 8px;
}

.main-container{
  padding: 2em;
  margin: auto;
  width: 90%;
  text-align: center;
}

.main-container h1{
  margin-bottom: 2em;
}

.main-container input[type="button"]{
  width: 40%;
  background: #81c3ff;
  color: #f2f2f2;
  border-radius: 25px;
  border-style: hidden;
  margin-bottom: 1em;
  padding: 1em 0;
}

.main-container input[type="button"]:hover{
  background: #fc5347;
  cursor: pointer;
}

@media (max-width: 550px) {
  .main-container h1{
    font-size: 1.5em;
  }

  .login{
    font-size: 0.7em;
  }

  .main-container input{
    width: 100%;
  }
}

.main-container input[type="text"],
.main-container input[type="password"]{
  font-style: italic;
  text-align: center;
}

.error-message{
  margin: 0 auto;
  margin-bottom: 3em;
  border-radius: 5px;
  color: #fff;
  font-size: .7em;
  width: 40%;
  padding: .5em;
  background: #f45;
}

.success-message{
  margin: 0 auto;
  margin-bottom: 3em;
  border-radius: 5px;
  color: #fff;
  font-size: .7em;
  width: 40%;
  padding: .5em;
  background: #0f4;
}

.blog-post{
  text-align: left;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 2em;
}
